<!DOCTYPE html>
{% extends 'managerheader.html' %}
{% load static %}

{% block content %}





<!-- Header Start -->
    <img src="img/dr physio.jpg" alt="Dr Physio Logo">

        <!-- Header End -->
 <!-- About Start -->
        <div class="container-fluid about bg-light py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">

                    <div class="col-lg-7 wow fadeInRight" data-wow-delay="0.4s">
                        <div class="section-title text-start mb-5">
                            <h4 class="sub-title pe-3 mb-0" style=" font-size:30px; font-family: Century Gothic;">About Us</h4>
                            <h1 class="display-3 mb-4" style=" font-size:36px; font-family: Century Gothic;text-align: justify;">We are Ready to Help Improve Your Treatment.</h1>
                            <p class="mb-4" style=" font-size:20px; font-family: Century Gothic;text-align: justify;">

At DR PHYSIO, we are dedicated to helping you reclaim your strength, mobility, and overall well-being. Our newly opened clinic is a sanctuary where healing begins, and our team of experienced physiotherapists is here to support you every step of the way. With a team of dedicated and experienced physiotherapists, state-of-the-art facilities, and a patient-centered approach, we are committed to providing the highest quality care to our community.
</p>
                            <div class="mb-4">
                                <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> Refresing to get such a personal touch.</p>
                            </div>
                            <a href="#" class="btn btn-primary rounded-pill text-white py-3 px-5">Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
<!-- Team Start -->
        <div class="container-fluid team py-5">
            <div class="container py-5">
                <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="sub-style">
                        <h4 class="sub-title px-3 mb-0" style=" font-size:36px; font-family: Century Gothic;">Meet our team</h4>
                    </div>
                    <h1 class="display-3 mb-4" style=" font-size:40px; font-family: Century Gothic;">Physiotherapy Services from Professional Therapist</h1>
                    <p class="mb-0" style=" font-size:20px; font-family: Century Gothic;text-align: justify;">•Dr. Manjesh Sukumaran, PT : Highly experienced physiotherapist with 17 years (International experience) of dedicated service in the field of physical therapy. He has a strong background in Orthopedic rehabilitation, Sports injury, Post-Surgery Rehab, Neuro Rehab, and Chronic pain management. Known for his patient-centered approach, combining manual therapy techniques with advanced rehabilitation protocols to achieve optimal patient outcomes. With over 17 years of experience, he is passionate about empowering his patients to achieve their optimal physical health.</p>

                    <p class="mb-0" style=" font-size:20px; font-family: Century Gothic;text-align: justify;">•Dr.  Maria K John, PT : With a focus on chronic pain management, specializing in women's health and pre/postnatal care typically possess specialized training and expertise in addressing the unique musculoskeletal and physiological needs of women during pregnancy, childbirth, and the postpartum period.
She specializes in Musculoskeletal physiotherapy, Paediatric and Geriatric Care. Known for her empathetic approach and evidence-based treatment plans, she is committed to improving her patients' quality of life and helping them achieve their rehabilitation goals.
</p>
                </div>
                <div class="row g-4 justify-content-center">
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="team-item rounded">
                            <div class="team-img rounded-top h-150">
                                <img src="img/team-1.jpg" class="img-fluid rounded-top w-150" alt="">
                                <div class="team-icon d-flex justify-content-center">
                                    <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                                    <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="team-content text-center border border-primary border-top-0 rounded-bottom p-4">
                                <h5 style=" font-size:20px; font-family: Century Gothic;">Dr.MANJESH SUKUMARAN, PT</h5>
                                <img src="{% static 'img/Dr.Manjesh.png' %}" alt="Dr. Manjesh - Dr Physio Logo">
                                <p class="mb-0" style=" font-size:20px; font-family: Century Gothic;">DIRECTOR & CHEIF PHYSIOTHERAPIST</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="team-item rounded">
                            <div class="team-img rounded-top h-100">
                                <img src="img/team-2.jpg" class="img-fluid rounded-top w-100" alt="">
                                <div class="team-icon d-flex justify-content-center">
                                    <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                                    <a class="btn btn-square btn-primary text-white rounded-circle mx-1" href=""><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                            <div class="team-content text-center border border-primary border-top-0 rounded-bottom p-4">
                                <h5 style=" font-size:20px; font-family: Century Gothic;">Dr.MARIA K JOHN, PT</h5>
                                <img src="{% static 'img/Dr.Maria Sudeep.jpg' %}" alt="Dr. Maria - Dr Physio Logo">
                                <p class="mb-0" style=" font-size:20px; font-family: Century Gothic;">PHYSIOTHERAPIST</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Team End -->
<!-- Testimonial Start -->
        <div class="container-fluid testimonial py-5 wow zoomInDown" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="section-title mb-5">
                    <div class="sub-style">
                        <h4 class="sub-title text-white px-3 mb-0">Testimonial</h4>
                    </div>
                    <h1 class="display-3 mb-4">What Clients are Say</h1>
                </div>
                <div class="testimonial-carousel owl-carousel">
                    <div class="testimonial-item">
                        <div class="testimonial-inner p-5">
                            <div class="testimonial-inner-img mb-4">
                                <img src="img/prasanth.png" class="img-fluid rounded-circle" alt="">
                            </div>
                            <p class="text-white fs-7">Very well appreciated initiative, international standard physical therapy clinic, really liked it, very well equipped and highly experienced staffs. HOD of the clinic is a senior physiotherapist with more than 17 years of experience , every aspect it's a wonderful clinic
                            </p>
                            <div class="text-center">
                                <h5 class="mb-2">Prasanth</h5>
                                <p class="mb-2 text-white-50">Kerala, INDIA</p>
                                <div class="d-flex justify-content-center">
                                    <i class="fas fa-star text-secondary"></i>
                                    <i class="fas fa-star text-secondary"></i>
                                    <i class="fas fa-star text-secondary"></i>
                                    <i class="fas fa-star text-secondary"></i>
                                    <i class="fas fa-star text-secondary"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-inner p-5">
                            <div class="testimonial-inner-img mb-4">
                                <img src="img/sanoj.png" class="img-fluid rounded-circle" alt="">
                            </div>
                            <p class="text-white fs-7">Mr. Manjesh is the best physiotherapist I can recommend, provided exceptional care for my father with empathy and patience.

His professional and dedicated approach ensured effective, gentle, and tailored therapy. His attention to detail and commitment to quality care made a significant difference in my father's overall experience.
                            </p>
                            <div class="text-center">
                                <h5 class="mb-2">Sanoj</h5>
                                <p class="mb-2 text-white-50">New York, USA</p>
                                <div class="d-flex justify-content-center">
                                    <i class="fas fa-star text-secondary"></i>
                                    <i class="fas fa-star text-secondary"></i>
                                    <i class="fas fa-star text-secondary"></i>
                                    <i class="fas fa-star text-secondary"></i>
                                    <i class="fas fa-star text-secondary"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-inner p-5">
                            <div class="testimonial-inner-img mb-4">
                                <img src="img/sanija.png" class="img-fluid rounded-circle" alt="">
                            </div>
                            <p class="text-white fs-7">My father took Manjesh's physiotherapy service . Throughout this period, the attention and support received was excellent.

A special appreciation goes to Manjesh for making my father as independent as possible. He goes the extra mile to ensure that he correctly understands the issue and provide scientific and latest solution, which will help in the long term.

I highly recommend Manjesh for his physiotherapy services.
                            </p>
                            <div class="text-center">
                                <h5 class="mb-2">Sanija</h5>
                                <p class="mb-2 text-white-50">New York, USA</p>
                                <div class="d-flex justify-content-center">
                                    <i class="fas fa-star text-secondary"></i>
                                    <i class="fas fa-star text-secondary"></i>
                                    <i class="fas fa-star text-secondary"></i>
                                    <i class="fas fa-star text-secondary"></i>
                                    <i class="fas fa-star text-secondary"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->



            <!-- Book Appointment Start -->
        <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.2">
                        <div class="section-title text-start">
                            <h4 class="sub-title pe-3 mb-0" style="font-family: 'Century Gothic'; font-size: 36px; text-align: center;">Solutions To Your Pain</h4>
                            <h1 class="display-4 mb-4" style="font-family: 'Century Gothic'; font-size: 40px; text-align: left;">Best Quality Services With Minimal Pain Rate</h1>
                            <p class="mb-4" style="font-family: 'Century Gothic'; font-size: 20px; text-align: justify;">Physiotherapy services aiming for minimal pain involve personalized treatment plans, manual therapy techniques, targeted exercises, and electrotherapy modalities to address individual needs and goals. These approaches focus on alleviating pain, improving mobility, and enhancing overall function with a focus on patient comfort and minimizing discomfort. </p>
                            <div class="row g-4">
                                <div class="col-sm-6">
                                    <div class="d-flex flex-column h-100">

                                        <div class="text-start mb-4">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>
        <!-- Book Appointment End -->




{% endblock %}
